/* probando si se te actualizan mis cambios */
*{
    font-family: "forma-djr-deck", sans-serif;
    font-weight: 500;
    font-style: normal; 
}
:root {
    --colorFondo: #e6e6e6;
    --tipoTitulos: "forma-djr-deck", sans-serif;
    --tipoGeneral: "forma-djr-deck", sans-serif 400;
    --color1: #000000;
    --color2: #767b99;
    --color3: #000000;
    --color4: #0d1b3b;
    --color5: #f4fcff;
}

header {
    width: 100vw;
    height: 100vh;
    position: sticky;
    top: calc(-100vh + 0em);
    z-index: 10;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../media/inicio/Comp1_1.gif);

}

#menu > li:first-child {
    display: none;
}

#menu > li > a > figure > img{
    transition: 1s;
}

#menu > li > a > figure > img:hover{
    transform: rotatez(-20deg);
}


#menu{
    background-color: #000000;
    width: 100%;
    list-style-type: none;
    display: flex;
    position: fixed;
    top: 0;
    justify-content: center;
}
#menu li{
    position: relative;
    width: 150px;
    height: 50px;
    display: flex;
}
#menu li a{
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	color:var(--color5);
	text-decoration:none;
	line-height:50px;
	transition:1s;
    font-family: "forma-djr-banner", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5em;
    
}

#menu li span{
	width:25%;
	height: 95%;
	background-color:rgb(31, 30, 30);
	transform-origin:top;
	transform:scalez(0);
	z-index:-1;
    filter: blur(5px);
	transition:transform .5s;
}
#menu li:hover span{
	transform-origin:bottom;
	transform:scaleY(1);
}
#menu li:hover a{
	color:rgb(109, 106, 106);
}

#menu li span:first-of-type{
	transition-delay:.1s;
}
#menu li span:nth-of-type(2){
	transition-delay:.2s;	
}
#menu li span:nth-of-type(3){
	transition-delay:.3s;
}
#menu li span:last-of-type{
	transition-delay:.4s;
}

section{
    background-color: #000000;
    padding: 0 0 20em 0;
}

#aboutUs{
    background-image: url(../media/inicio/fondo1.jpg);
    padding: 2em;
    height: 120vh;
}
#aboutUs > div{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    background-color: #ffffffbe;
    border-radius: 40px;
    filter: blur(4px);
    transition: 1s;
    flex-direction: column;
}

#aboutUs > div:hover{

    filter: blur(0.5px);

}

#aboutUs > div > div{
    display: flex;
    filter: blur(0);
    align-items: center;
}
.espacio{
    padding: 10px;
}

h1{
    font-family: "forma-djr-deck", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.h1, h1 {
    font-size: calc(1.4rem + 1.5vw);
}

.cursive, .cursive_tit{
    font-family: "sloop-script-one", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
}


.fotoAboutUs{
    width: 120px;
}

.img-fluid{
    padding: 3em;
}




.images-preview {
    position: relative;
    display: block;
}



.images-preview img {
    width: 100%;
    vertical-align: bottom;
    transition: .3s;
    padding: 3em;
}
.images-preview img:not(:nth-child(1)) {
    position: absolute;
    top: 0;
    left: 0;
}
.images-preview img:nth-child(1) {
    position: relative;
    z-index: 4;
}
.images-preview img:nth-child(2) {
    z-index: 3;
}

.images-preview img:nth-child(3) {
    z-index: 2;
}

.images-preview img:nth-child(4) {
    z-index: 1;
}

.images-preview05:hover img:nth-child(1) {
    transform: rotate(5deg);
}

.images-preview05:hover img:nth-child(2) {
    transform: translate(20px, -20px) rotate(9deg);
}

.images-preview05:hover img:nth-child(3) {
    transform: translate(40px, -40px) rotate(13deg);
}

.images-preview05:hover img:nth-child(4) {
    transform: translate(60px, -60px) rotate(17deg);
}

.title{
    color: var(--color5);
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 2em 0;
}

footer{
    background-color: #000000;
    color: var(--color5);
}

footer h3, footer a{
    color: var(--color5);
}

#iconos{
    display: flex;
    justify-content: center;
    width: 200px;
}

#iconos figure{
    padding: 1em 0.5em;
}

footer > div{
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer a, footer ul{
    padding: 1em 0 0 0;
    list-style-type:none;
    text-decoration:none;
}


.row {
    --bs-gutter-x: 0rem;
}

@media screen and (max-width:1200px){

    header{
        background-image: url(../media/inicio/Comp1_2.gif);
    }

    #menu {

        display: flex;
        position: fixed;
        top: 0;
        justify-content: center;
        flex-direction: column;
        align-content: flex-start;
        align-items: flex-start;
        flex-wrap: nowrap;
    }

    #menu > li {
        display: none;
        width: 0;
        transition: .3s;
    }

    #menu > li:first-child {
        display: inline-block;
        padding: 1em 0 4em;
    }


    
    #menu:hover li {
        display: inline-block;
    }

    #menu > ul:hover > div > li:first-child {
        display: none;
    }

    .images-preview img {
        padding: 1em;
    }

    #menu li a {
        transform: translateX(0%);
    }

    .h1, h1 {
        font-size: calc(0.75rem + 1.5vw);
    }

    .fotoAboutUs {
        width: 85px;
    }

    #aboutUs > div {
        height: 60vh;
        filter: blur(0px);
    }

    #aboutUs {

        height: 80vh;
    }

    .espacio {
        padding: 6px;
    }

    .cursive {
        font-size: 3em;
    }

    .row {
        justify-content: center;
    }

    

}


@media screen and (max-width:750px){

    header{
        background-image: url(../media/inicio/Comp1_3.gif);
    }

    .h1, h1 {
        font-size: calc(0.5rem + 1.5vw);
    }

    .fotoAboutUs {
        width: 65px;
    }

    #aboutUs > div {
        height: 50vh;
        filter: blur(0px);
    }

    #aboutUs {

        height: 70vh;
    }

    .espacio {
        padding: 4px;
    }

    .cursive {
        font-size: 1.8em;
    }

    .h1_tit{
        font-size: 1.8em;
    }

    .cursive_tit{
        font-size: 1.5em;
    }

}

@media screen and (max-width:450px){


    .h1, h1 {
        font-size: 1.5em;
    }

    .fotoAboutUs {
        width: 55px;
    }

    #aboutUs > div {
        align-items: center;
        flex-direction: column;
        height: 110vh; 
    }

    #aboutUs > div > div{
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;    
    }
    #aboutUs {
        padding: 1em;
        height: 120vh;
    }

    .espacio {
        display: none;
    }

    .cursive {
        font-size: 2.8em;
    }
  

    .images-preview img {
        padding: 2em;
    }

    #menu > li:first-child {
        padding: 1em 0 5em;
    }

    section {
        padding: 0 0 7em 0;
    }

    .h1_tit{
        font-size: 1.2em;
    }

    .cursive_tit{
        font-size: 0.9em;
    }

    .title{
        padding: 2em 0 0;
    }

    .fotoAboutUs {
        width: 110px;
    }

    br{
        display: none;
    }

}