/* probando si se te actualizan mis cambios */
*{
    font-family: "forma-djr-deck", sans-serif;
    font-weight: 500;
    font-style: normal; 
}
:root {
    --colorFondo: #e6e6e6;
    --tipoTitulos: "forma-djr-deck", sans-serif;
    --tipoGeneral: "forma-djr-deck", sans-serif 400;
    --color1: #000000;
    --color2: #767b99;
    --color3: #000000;
    --color4: #0d1b3b;
    --color5: #000000;


}

section{
    margin-top: 1em;
    margin-bottom: 4em;
    background-color: #ffffff
}

/* COMIENZA MENU */


/* header- MENU!! */
header {
    width: 100%;
    position: sticky;
    top: calc(-100vh + 0em);
    z-index: 10;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;

    margin-bottom: 4em;

}

#menu > li:first-child {
    display: none;
}

#menu > li > a > figure > img{
    transition: 1s;
}

#menu > li > a > figure > img:hover{
    transform: rotatez(-20deg);
}


#menu{
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    list-style-type: none;
    display: flex;
    position: fixed;
    top: 0;
    justify-content: center;
}
#menu > li{
    position: relative;
    width: 150px;
    height: 50px;
    display: flex;
}


li:hover a{
    list-style:none;
    text-decoration:none;   
}

#menu > li > a{
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	color:var(--color5);
	text-decoration:none;
	line-height:50px;
	transition:1s;
    font-family: "forma-djr-banner", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5em;
    
}

#menu > li > span{
	width:25%;
	height: 95%;
    background-color: rgb(224, 222, 222);
	transform-origin:top;
	transform:scalez(0);
	z-index:-1;
    filter: blur(5px);
	transition:transform .5s;
}
#menu > li:hover span{
	transform-origin:bottom;
	transform:scaleY(1);
}
#menu > li:hover a{
	color:rgb(24, 24, 24);
}

#menu > li > span:first-of-type{
	transition-delay:.1s;
}
#menu > li > span:nth-of-type(2){
	transition-delay:.2s;	
}
#menu > li > span:nth-of-type(3){
	transition-delay:.3s;
}
#menu > li > span:last-of-type{
	transition-delay:.4s;
}


#ul_marcas {
    margin: 3em 0em;
    padding: 1em;
    width: 100%;
    display: none;
    text-align: center;
    flex-direction: column;
    align-content: flex-start;
    font-style: normal;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.863);
    position: absolute;
    transition-timing-function: ease-in 1s;
}

#ul_marcas > li{
    /* background-color: rgba(255, 255, 255, 0.863); */
    display: block;
    transition-timing-function: ease-in 1s;
}



#ul_marcas a{
    color: #000000;
    transition-timing-function: ease-in 1s;
}

li, #ul_marcas, #li_marcas{
    transition:
        opacity 2s,
        display 1s;

}

#ul_marcas > li:hover > a{
    color: #b9b8b8;  
}


#li_marcas:hover > ul{
    display: block;
    opacity: 1;
}

ol, ul {
    padding-left: 1rem !important;
}

section {
    background-color: #ffffff;

}



/* CARRUSEL */

section#carrusel{
    margin-top: 8em;
    margin: auto;
    width: 70vw;
}

.carousel-control-next, .carousel-control-prev {
    width: 20% !important;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    width: 8em;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    width: 8em !important;
}

.carousel-control-prev-icon {
    background-image: url(../media/producto/flecha1.svg) !important;

}
.carousel-control-next-icon{
    background-image: url(../media/producto/flecha2.svg) !important;
    color: #000000;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    width: 4rem;
    height: 4rem;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: flex !important;
    justify-content: center;
}

/* info camarita */

#infocamaras{
    display: flex;
    flex-direction: column;
    padding: 0 5em;
    margin-bottom: 0 !important;

}


.iconos_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 10%;
}

.iconos_container>img{
    height: 2.5em;
    margin: 0 2em 1em;
}

.iconos_container>img:hover{
    scale: 122%;
    transition: .5s ease-out;
}


.textos_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.izq_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#infocamaras > div.textos_info > div.izq_container > div > h1{
    font-weight: 700 !important;
    margin-bottom: -.25em;
}

#infocamaras > div.textos_info > div.izq_container > p{
    font-weight: 700 !important;
    font-size: 20pt;
}


.parrafo{
    margin-top: 1em;
    width: 30%;
    text-align: justify;
}


/* ventana modal */





#modal_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    flex-direction: column;
    align-items: center;  
    background-color: var(--colorFondo);
    /* height: 22%; */
    width: 26%;
    border: var(--color1);
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 1em 2em 2em 2em;
    

}



#modal_container>h1{
    font-weight: 700;
    font-size: 40pt;
    color: #000000;
    letter-spacing: -1px;
}

.img-container>img{
    height: 9em !important;
}

#modal_container>p.text{
    font-weight: 700;
    font-size: 18pt;
    line-height: 1em;
    justify-content: center;
    text-align: center;
    color: #000000;

}

p.xxx{
    margin-bottom: 0;
}

.xxxxx{
    text-decoration: none !important;
    font-size: 10pt;
    color: #000000;
    font-size: 20pt;
    font-family: 'forma-djr-banner';
    font-weight: 500;
    margin-left: 7em;
    /* margin-bottom: 15em; */
    
}

.xxxxx:hover{
    color: red;
    font-style: italic;
    transition: .2s;
    transition-timing-function: ease-in-out;
}


/* footer */

footer{
    background-color: #ffffff;
    color: var(--color5);
}

footer h3, footer a{
    color: var(--color3);
}

#iconos{
    display: flex;
    justify-content: center;
    width: 200px;
}

#iconos figure{
    padding: 1em 0.5em;
}

footer > div{
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer a, footer ul{
    padding: 1em 0 0 0;
    list-style-type:none;
    text-decoration:none;
}

.h5, h5 {
    font-size: 1.25rem;
    color: black !important;
}


.row {
    --bs-gutter-x: 0rem;
}




/* MEDIAQUERIESSSSSSSS */

@media screen and (max-width:1200px){


    /* menu */



    #menu {

        display: flex;
        position: fixed;
        top: 0;
        justify-content: center;
        flex-direction: column;
        align-content: flex-start;
        align-items: flex-start;
        flex-wrap: nowrap;
        padding-bottom: 2em;
        background-color: rgba(255, 255, 255, 0);
        
    }

    #menu:hover{
        background-color: white;
    }

    #menu > li {
        display: none;
        width: 0;
        transition: .3s;
    }

    #menu > li:first-child {
        display: inline-block;
        padding: 1em 0 4em;
    }

    #li_marcas {
        margin-bottom: 8em;
    }

    #ul_marcas{
        display: block;

    }

    #menu figure{
        display: none;
    }
    

    
    #menu:hover li {
        display: inline-block;
    }

    #menu > ul:hover > div > li:first-child {
        display: none;
    }


    #menu li a {
        transform: translateX(0%);
        text-decoration: none;
    }

    .parrafo{
        width: 45%;
    }

    #carrusel{
        scale: 90%;
    }

    .izq_container{
        margin-top: 1%;
    }


}

@media screen and (max-width:1060px){

    section#carrusel{
        width: 75vw;
    }

    .izq_container{
        margin-top: 2%;
    }

    .parrafo{
        width: 48%;
    }

}

@media screen and (max-width:950px){
    .carousel-control-prev{
        left: -5% !important;
    }

    .carousel-control-next{
        right: -5% !important;
    }
}    

@media screen and (max-width:840px){

    #carrusel{
        scale: 80%;
    }

    .carousel-control-prev{
        left: -10% !important;
    }

    .carousel-control-next{
        right: -10% !important;
    }
}

@media screen and (max-width:750px){

    #carrusel{
        scale: 74%;
    }

    .parrafo{
        width: 70%;
    }

    .izq_container{
        margin-top: 4%;
    }

    section#carrusel{
        width: 84vw;
    }

}

@media screen and (max-width:700px){
    .carousel-control-prev{
        left: -15% !important;
    }

    .carousel-control-next{
        right: -15% !important;
    }
}

@media screen and (max-width:660px){

    #carrusel{
        scale: 60%;
    }

    #infocamaras > div.textos_info > div.izq_container > div > h1{  
        font-size: 20pt;
    }
    #infocamaras > div.textos_info > div.izq_container > p{
        font-size: 20pt;

    }
    #infocamaras > div.textos_info > div.izq_container > div > h2{
        /* font-size: ; */
        font-size: 20pt;
    }

    .iconos_container{
        height: 8%;
    }
    
    .iconos_container>img{
        height: 2.25em;
    }

    section#carrusel{
        width: 90vw;
    }

    .carousel-control-prev{
        left: -20% !important;
    }

    .carousel-control-next{
        right: -20% !important;
    }

}

@media screen and (max-width:550px){

    section#infocamaras{
        padding: 0 4em;
    }

    #infocamaras > div.textos_info > div.izq_container > div > h1{  
        font-size: 17pt;
    }
    #infocamaras > div.textos_info > div.izq_container > p{
        font-size: 15pt;

    }

    .parrafo{
        width: 85%;
    }


    #carouselExample > div > div.carousel-item.active > img{
        scale: 79%;
    }

    #infocamaras > div.textos_info > div.izq_container > div > h2 {
        font-size: 15pt;
    }


    .parrafo>p{
        font-weight: 400;
    }

}

@media screen and (max-width:460px){

    section#carrusel{
        width: 100vw;
    }

}

@media screen and (max-width:395px){
    #carrusel{
        scale: 50%;
    }

    section#infocamaras{
        padding: 0 2em;
    }

    .carousel-control-prev{
        left: -25% !important;
    }

    .carousel-control-next{
        right: -25% !important;
    }


    #infocamaras > div.textos_info > div.izq_container > div > h2 {
        font-size: 14pt;
    }


}


@media screen and (max-width:350px){
    .parrafo{
        width: 100%;
    }

}

