/* probando si se te actualizan mis cambios */
*{
    font-family: "forma-djr-deck", sans-serif;
    font-weight: 500;
    font-style: normal; 
}
:root {
    --colorFondo: #e6e6e6;
    --tipoTitulos: "forma-djr-deck", sans-serif;
    --tipoGeneral: "forma-djr-deck", sans-serif 400;
    --color1: #000000;
    --color2: #767b99;
    --color3: #000000;
    --color4: #0d1b3b;
    --color5: #f4fcff;
}

/* header- MENU!! */
header {
    width: 100%;
    position: sticky;
    top: calc(-100vh + 0em);
    z-index: 10;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;

}

#menu > li:first-child {
    display: none;
}

#menu > li > a > figure > img{
    transition: 1s;
}

#menu > li > a > figure > img:hover{
    transform: rotatez(-20deg);
}


#menu{
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    list-style-type: none;
    display: flex;
    position: fixed;
    top: 0;
    justify-content: center;
}
#menu > li{
    position: relative;
    width: 150px;
    height: 50px;
    display: flex;
}


li:hover a{
    list-style:none;
    text-decoration:none;   
}

#menu > li > a {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: var(--color1);
    text-decoration: none;
    line-height: 50px;
    transition: 1s;
    font-family: "forma-djr-banner", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5em;
}

#menu > li > span{
	width:25%;
	height: 95%;
    background-color: rgb(224, 222, 222);
	transform-origin:top;
	transform:scalez(0);
	z-index:-1;
    filter: blur(5px);
	transition:transform .5s;
}
#menu > li:hover span{
	transform-origin:bottom;
	transform:scaleY(1);
}
#menu > li:hover a{
	color:rgb(24, 24, 24);
}

#menu > li > span:first-of-type{
	transition-delay:.1s;
}
#menu > li > span:nth-of-type(2){
	transition-delay:.2s;	
}
#menu > li > span:nth-of-type(3){
	transition-delay:.3s;
}
#menu > li > span:last-of-type{
	transition-delay:.4s;
}


#ul_marcas {
    margin: 3em 0em;
    padding: 1em;
    width: 100%;
    display: none;
    text-align: center;
    flex-direction: column;
    align-content: flex-start;
    font-style: normal;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.863);
    position: absolute;
    transition-timing-function: ease-in 1s;
}

#ul_marcas > li{
    /* background-color: rgba(255, 255, 255, 0.863); */
    display: block;
    transition-timing-function: ease-in 1s;
}



#ul_marcas a{
    color: #000000;
    transition-timing-function: ease-in 1s;
}

li, #ul_marcas, #li_marcas{
    transition:
        opacity 2s,
        display 1s;

}

#ul_marcas > li:hover > a{
    color: #b9b8b8;  
}


#li_marcas:hover > ul{
    display: block;
    opacity: 1;
}

ol, ul {
    padding-left: 1rem !important;
}

/* carpetas */

li{
    list-style: none;
}

.marcas {
    display: flex;
    margin-bottom: 2em;
}

.images-preview {
    position: relative;
    display: block;
}

.carpeta1{

    filter:contrast(1.4);
}

.images-preview img {
    width: 100%;
    vertical-align: bottom;
    transition: .3s;
    padding: 2em;
}
.images-preview img:not(:nth-child(1)) {
    position: absolute;
    top: 0;
    left: 0;
}
.images-preview img:nth-child(1) {
    position: relative;
    z-index: 4;
}
.images-preview img:nth-child(2) {
    z-index: 3;
}

.images-preview img:nth-child(3) {
    z-index: 2;
}

.images-preview img:nth-child(4) {
    z-index: 1;
}

.images-preview05:hover img:nth-child(1) {
    transform: rotate(5deg);
}

.images-preview05:hover img:nth-child(2) {
    transform: translate(20px, -20px) rotate(9deg);
}

.images-preview05:hover img:nth-child(3) {
    transform: translate(40px, -40px) rotate(13deg);
}

.images-preview05:hover img:nth-child(4) {
    transform: translate(60px, -60px) rotate(17deg);
}


/* Nikon */

#logoTiny{
    align-self: center;
    height: 3cm;
    display: flex;
    justify-content: center;
    margin: 7em 0 7em 3em;
}

#logoTiny>img{
    height: 100%;
}

/* fin menu */

section#galeria{
    margin-top: 1%;
}

/* grid-grid-grid-grid */

.general-cajas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    filter:brightness(1);
    transition: 0.5s;
}

.general-cajas:hover{
    /* filter: blur(4px); */
    filter:brightness(1.5);

}

.container{
    display: flex;
    width: 100%;
    flex-direction: column;
    column-gap: 10px;
}

div.row{
    display: flex;
    height: 40vh;
    border-color: var(--color1);
    border-width: 1px;
    display: flex;
    justify-content: space-between;
}

.row>div{
    border: var(--color1);
    border-style: solid;
    border-width: 1px;
}

        /* parte de los likes y carros */


.container_up{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: 35%;
    align-content: flex-start;
    padding: 7% 0 0 0;
}

.container_up>img{
    height: 25%;
}

.container_up>img:hover{
    scale: 130%;
    transition: .5s ease-out;
}

.container_down{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.derecha-cajas, .izquierda-cajas{
    font-weight: 700;
    font-size: 16pt;
}

#fantasma{
    border: none;
    border-color: white;
}

.uno{
    background-image: url(../media/galeria/nikon_coolpix3100.jpg);
    background-size: cover;
    background-position: center top;
}

.dos{
    background-image: url(../media/galeria/nikonCoolpix_2100_ccd.jpg);
    background-position: center top;
    background-size: cover;
}

.tres{
    background-image: url(../media/galeria/nikonCoolpix_E2500_CCD.jpg);
    background-position: center top;
    background-size: cover;
}

.cuatro{
    background-image: url(../media/galeria/nikonCoolpix_E880_CCD.jpg);
    background-position: center top;
    background-size: cover;
}

.cinco{
    background-image: url(../media/galeria/nikonCoolpix_7900_CCD.jpg);
    background-position: center top;
    background-size: cover;
}

.seis{
    background-image: url(../media/galeria/nikonCoolpix_4300CCD.jpg);
    background-position: center top;
    background-size: cover;
}

.siete{
    background-image: url(../media/galeria/nikonCoolpix_L5_CCD.jpg);
    background-position: center top;
    background-size: cover;
}

.ocho{
    background-image: url(../media/galeria/nikonCoolpix_S9300_CCD.jpg);
    background-position: center top;
    background-size: cover;
}

.nueve{
    background-image: url(../media/galeria/nikonCoolpix_E3500_ccd.jpg);
    background-position: center top;
    background-size: cover;
}

.diez{
    background-image: url(../media/galeria/nikonCoolpix_S3300_CCd.jpg);
    background-position: center top;
    background-size: cover;
}

.once{
    background-image: url(../media/galeria/nikonCoolpix_A100_CCD.jpg);
    background-position: center top;
    background-size: cover;
}


.doce{
    background-image: url(../media/galeria/nikonCoolpix_S3500_CCD.jpg);
    background-position: center top;
    background-size: cover;
}

/* .icon-hover:hover{
    
} */


/* foooterrrr */

footer{
    background-color: #ffffff;
    color: var(--color5);
}

footer h3, footer a{
    color: var(--color3);
}

#iconos{
    display: flex;
    justify-content: center;
    width: 200px;
}

#iconos figure{
    padding: 1em 0.5em;
}

footer > div{
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer a, footer ul{
    padding: 1em 0 0 0;
    list-style-type:none;
    text-decoration:none;
}

.h5, h5 {
    font-size: 1.25rem;
    color: black !important;
}


.row {
    --bs-gutter-x: 0rem;
}

/* mediaqueries */



/* ventana modal */

section.ventanamodal{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

#modal_container{
    display: flex;
    flex-direction: column;
    align-items: center;  
    background-color: var(--colorFondo);
    height: 22%;
    width: 26%;
    border: var(--color1);
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 1em 2em 2em 2em;

}



#modal_container>h1{
    font-weight: 700;
    font-size: 40pt;
    color: #000000;
    letter-spacing: -1px;
}

.img-container>img{
    height: 9em !important;
}

#modal_container>p.text{
    font-weight: 700;
    font-size: 18pt;
    line-height: 1em;
    justify-content: center;
    text-align: center;
    color: #000000;

}

p.xxx{
    margin-bottom: 0;
}

.xxxxx{
    text-decoration: none !important;
    font-size: 10pt;
    color: #000000;
    font-size: 20pt;
    font-family: 'forma-djr-banner';
    font-weight: 500;
    margin-left: 9em;
    /* margin-bottom: 15em; */
    
}

.xxxxx:hover{
    color: red;
    font-style: italic;
    transition: .2s;
    transition-timing-function: ease-in-out;
}

/* .x:hover{
    fscale;
    color: var(--grey);
} */

/* MEDIAQUERIESSSSSSSS */



@media screen and (max-width:1200px){


    div.row {
        height: 72vh;
    }

    /* menu */



    #menu {

        display: flex;
        position: fixed;
        top: 0;
        justify-content: center;
        flex-direction: column;
        align-content: flex-start;
        align-items: flex-start;
        flex-wrap: nowrap;
        padding-bottom: 2em;
        background-color: rgba(255, 255, 255, 0);
        
    }

    #menu:hover{
        background-color: white;
    }

    #menu > li {
        display: none;
        width: 0;
        transition: .3s;
    }

    #menu > li:first-child {
        display: inline-block;
        padding: 1em 0 4em;
    }

    #li_marcas {
        margin-bottom: 8em;
    }

    #ul_marcas{
        display: block;

    }

    #menu figure{
        display: none;
    }
    

    
    #menu:hover li {
        display: inline-block;
    }

    #menu > ul:hover > div > li:first-child {
        display: none;
    }


    #menu li a {
        transform: translateX(0%);
        text-decoration: none;
    }

    #menu img{
        border-radius: 35px;
        padding: 0.5em;
        width: 73px;
        background-color: #ffffff;
        margin-bottom: 1rem;
        
    }

    .images-preview img {
        padding: 1em;
    }

    #marcas{
        margin-top: 6em;
    }

}

@media screen and (max-width: 991px){
    /* RINCONES */
    div#fantasma{
        display: none;
    }

}

@media screen and (max-width: 700px){

    .carpeta{
        display: none;
    }

    .images-preview img {
        padding: 4em;
    }

    #marcas {
        margin-top: 4em;
    }

}